<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:8000/ipl/{{route}}",
                dataType: "json",
                success: function (data) {
                    var X_values = []
                    var Y_values = []
                    for (let i in data) {
                        // alert('Fetched ' + data[i].season+ ' items!');
                        X_values.push(data[i]['{{x_key}}'])
                        Y_values.push(data[i]['{{y_key}}'])
                        // alert(X_values)
                    }
                    console.log(X_values, Y_values)
                    Highcharts.chart('container', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: '{{main_title}}',
                        },
                        xAxis: {
                            title: {
                                text: '{{x_title}}',
                            },

                            categories: X_values
                        },
                        yAxis: {
                            title: {
                                text: '{{y_title}}',
                            }
                        },
                        series: [{
                            // name: 'Seasons',
                            data: Y_values

                        }]
                    });
                }
            });

        });
    </script>

    <style>
        #container {
            height: 50vh;
            margin: 0 auto;
            /* background-color: aqua; */
        }
    </style>
</head>

<body>

    <div id="container">"{{route}}"</div>
</body>{% csrf_token%}


</html>